.drama{
    padding-top: 100px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto 50px;
    h2{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .dramaItems{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        .dramaItem{
            width: 24%;
        }
    }


}