ul{list-style: none;}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    padding: 0 20px;
    box-sizing: border-box;
    background: rgba(48, 48, 47, 0.557);
    justify-content: space-between;
    align-items: center;
    h1{ font-size: 36px;
        a{
            color: #fff;
        }
    }
    nav{
        ul{
            display: flex;
            gap: 20px;
            li{
                a{
                    color: #ffffff;
                    text-decoration: none;
                }
            }
        }
    }
}